extends layout

block content

  div.homepage
    img(src="../assets/images/phonesmash_logo.png")
    p Play with your friends by accessing the site on your iPhone and typing in the session ID.
    h4 Session ID:
    div.row
      div.large-3.large-centered.columns
        div#session_id


  div.compete
    div.row
      div.large-4.large-centered.columns
        h3 Current Highscore:
    div.row
      div.large-4.large-centered.columns
        h1#highscore 0000
    div.row
      div.large-10.large-centered.columns.player-list
        

  script(type="text/javascript", src="assets/js/application.js")  
