extends layout

block content

	div.homepage
		h1 phonesma.sh
		h4 Session ID:
		div#session_id

	div.compete
		h1 Compete!

		div.panel
			h2 sweet

	script(type="text/javascript", src="assets/js/application.js")




