extends layout

block content

  | <a href="https://github.com/thekenner33/phonesmash"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
  div.homepage
    img(src="../assets/images/phonesmash_logo.png")
    p play with your friends by accessing the site on your iPhone and typing in the session ID.
    h4 session ID:
    div.row
      div.large-3.large-centered.columns
        div#session_id
    div#footer
      p#byline handcrafted by
        | <a href="https://github.com/s-mcqueen">Sean M</a>,  
        | <a href="https://github.com/thekenner33">  Kenny B</a>,  
        | <a href="https://github.com/joshrael">  Josh R</a>,  and 
        | <a href="https://github.com/evancasey">  Evan C</a>


  div.compete
    div.row
      div.large-4.columns
        h4 current session: 
          span#compete_id
    div.row
      div.large-4.large-centered.columns
        h3 Current Highscore:
    div.row
      div.large-4.large-centered.columns
        h1#highscore 0000
    div.row
      div.large-6.large-centered.columns.player-list




  script(type="text/javascript", src="assets/js/application.js")  
