extends layout

block header
	script(type="text/javascript", src="assets/js/mobile.js")

block content
	h1 Mobile View!

	form(action="/start/verify", method="post", accept-charset="utf-8")
		input(type="text", name="name")
		input(type="submit", value="Submit")