extends layout

block content

  div.start-session
    div.row
      div.small-12.small-centered.columns#header
        h1#title phonesma.sh 
        p Enter your session ID below.
        div.small-8.small-centered.columns#mobile-content
          input(type="text", name="name", placeholder="####", id="session-id")      

        p Enter your name.
        div.small-8.small-centered.columns#mobile-content
          input(type="text", name="name", placeholder="####", id="username")    

        div(id="button", onclick="joinSession($('#session-id').val(),$('#username').val())") SMASH


  div#throw

  script(type="text/javascript", src="assets/js/mobile.js")


