extends layout

block content
	h1 Mobile View!

	div.row
		div.large-2.columns
			input(type="text", name="name", id="session_submit")			
		button(type="submit", class="small button", onclick="joinSession($('#session_submit').val())") Submit

	script(type="text/javascript", src="assets/js/mobile.js")