extends layout

block content
  div.row
    div.small-12.small-centered.columns#header
      h1 phonesma.sh 
      p Enter your session ID below.

  div.row
    div.small-8.small-centered.columns#mobile-content
      div#form
        form(method="post", action="start/verify")
          input(type="text", name="name", placeholder="0000", id="session_submit")   
          div#button       
            input(type="submit", onclick="joinSession($('#session_submit').val())") 


  script(type="text/javascript", src="assets/js/mobile.js")