extends layout

block content
  div.row
    div.small-12.small-centered.columns#header
      h1 phonesma.sh 
      p Enter your session ID below.

  div.row
    div.small-8.small-centered.columns#mobile-content
      input(type="text", name="name", placeholder="0000", id="session_submit")
      a(href="#", onclick="joinSession($('#session_submit').val())") SMASH

  script(type="text/javascript", src="assets/js/mobile.js")