<html>
  <head>

    <link href='stylesheet' rel='stylesheet'>

  </head>
  <body>

  <div id="starter">
    <canvas>
  </div>
  <div id="sweet">
    <h1>
      Sweet
    </h1>
  </div>

  </body>
</html>