body {
  padding: 50px;
  font: "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: blue; }

#header {
  text-align: center; }
  #header h1 {
    font-size: 55pt; }

#mobile-content {
  text-align: center; }
  #mobile-content div#form {
    height: 200px; }
    #mobile-content div#form input {
      font-size: 110pt;
      font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
      height: 1.2em;
      padding: 0px 20px 10px; }
  #mobile-content a {
    display: inline-block;
    border-radius: 40px;
    padding: 30px 15px;
    background-color: green;
    font-size: 0.8em;
    line-height: 1.2em;
    float: right; }
