body {
  padding: 50px;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%; }

a {
  color: blue; }

#starter {
  background-color: red; }

.throw {
  display: none; }

.compete {
  display: none; }
