html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
}

a {
  color: blue;
}

#title {
  padding-top: 50px;
}

.homepage {
  
}

.compete {
  display: none;
}

.player{
  width: 500px;
}

.compete {
  margin-left: 50px;
}