html {
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
  -webkit-text-size-adjust: 100%; }

.homepage {
  background-image: url(../images/squairy_light.png);
  background-repeat: repeat;
  height: 100%; }

a {
  color: blue; }

#title {
  padding-top: 50px; }

.compete {
  display: none;
  margin-left: 50px; }

.player {
  width: 500px; }
