body {
  padding: 50px;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: blue;
}


#header {
  text-align: center;

  h1 {
    font-size: 5em;
  }
}

#mobile-content {
  text-align: center;
  
  #session_submit {
    font-size: 11em;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    height: 1.2em;
    padding: 0 0.12em 0;
    margin-bottom: 75px;
  }

  #button {
    color: white;
    display: inline-block;
    border-radius: 8em;
    padding: 3em 3.8em;
    background-color: green;
    font-size: 1em;
    line-height: 5em;
    border: 0;
  }
  
}

#button {
  
}