#header {
  text-align: center; }
  #header h1 {
    font-size: 8em;
    line-height: 1em; }
  #header p {
    font-size: 3em;
    line-height: 0.02em; }

#mobile-content {
  text-align: center; }
  #mobile-content #session-id {
    font-size: 8em;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    height: 1.2em;
    padding: 0 0.12em 0;
    margin-bottom: 75px;
    text-align: center; }
  #mobile-content #username {
    font-size: 8em;
    font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
    height: 1.2em;
    padding: 0 0.12em 0;
    margin-bottom: 75px;
    text-align: center; }

#throw {
  width: 100%;
  height: 100%;
  background-color: #FF5B22;
  display: none; }

#throw-text {
  color: white;
  padding: 40px; }

#errors {
  display: none; }

#errors-text {
  color: #FF0000; }

#button {
  color: white;
  display: inline-block;
  border-radius: 18em;
  padding: 1em 1.75em;
  background-color: green;
  font-size: 4em;
  line-height: 5em;
  border: 0; }

.throw {
  display: none; }
