#header {
  text-align: center;
  img {
    margin-bottom: 5%;
  }

  p {
    font-size: 3em;
    line-height: 0.02em;
  }
}

form {
  text-align: center;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "Helvetica";
  
  #session-id {
    font-size: 8em;
    height: 1.2em;
    padding: 0 0.12em 0;
    margin-bottom: 5%;
    text-align: center;
  }

  #username {
    font-size: 6em;
    height: 1.2em;
    padding: 0 0.12em 0;
    margin-bottom: 5%;
    text-align: center;
  }

  #button {
  color: white;
  display: block;
  // might need this for mobile safari...
  // -webkit-appearance: button;
  padding: 10% 10%;
  background-color: #E81373;
  font-size: 5em;
  // line-height: 5em;
  border: 0;
  }

  
}



.start-session {
  
}

.throw {
  display: none;
}


