#header {
  text-align: center; }
  #header img {
    margin-top: 3%;
    margin-bottom: 5%; }
  #header p {
    font-size: 1em;
    line-height: 0.02em; }

form {
  text-align: center;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", "Helvetica"; }

#session-id {
  font-size: 3em;
  height: 1.2em;
  padding: 0 0.12em 0;
  margin-bottom: 5%;
  text-align: center; }

#username {
  font-size: 2em;
  height: 1.2em;
  padding: 0 0.12em 0;
  margin-bottom: 5%;
  text-align: center;
  text-transform: uppercase; }

#throw {
  width: 100%;
  height: 100%;
  background-color: #FF5B22;
  display: none; }

#throw-text {
  color: white;
  padding: 40px; }

#restart-button {
  width: 100%;
  height: 35%;
  background-color: #FFFFFF;
  display: none;
  position: absolute;
  bottom: 0; }

#restart-text {
  color: black;
  padding: 40px;
  padding-bottom: 65px; }

#errors {
  display: none; }

#errors-text {
  color: #FF0000; }

#button {
  color: white;
  display: block;
  padding: 10% 10%;
  background-color: #E81373;
  font-size: 3em;
  margin-bottom: 3%;
  border: 0; }

#start-session {
  background-image: url(../images/squairy_light.png);
  background-repeat: repeat; }
